/* Menu horizontal con la propiedad float en menu
ul.menu li {
   float: left;
} */

/* Texto de títulos color y fuente */
h1 {
    color:#483D8B;
    font-weight: normal;
    font-family: "Constantia", Arial, Helvetica, sans-serif;
}
h2 {
    color: #ADD8E6;
    font-weight: normal;
    font-family: "Constantia", Helvetica;
}
h3 {
    color: #6A5ACD;
    font-weight: normal;
    font-family: "serif", sans-serif;
}

/* Fuente de toda la página */
p {
    font-family: "Constantia", serif;
  }

/* PSUDOCLASE Ratón encima de un link cambio de color*/
a:hover {
    color: #B0C4DE;
  }

/* PSEUDOCLASE Color de los enlaces */
a:link {
  color:	#a693da;
}

/* PSEUDOCLASE link ya visitado */
a:visited {
  color: 	#708090;
}

/* PSEUDOELEMENTO las primeras letras de toda la pagina */
::first-letter {
  color:#8b929b
}

/* menu en horizontal creando una clase*/
  ul.horizontal li{
    display:block;
    float:left;
    padding:0 10px;
    }

    /* clase de los iconos de redes sociales */
    .iconosredes {
      
      
    }

    /* aside el menu de la columna de la derecha */
    aside {
      background: rgb(174, 193, 197);
      margin: 5px;
      width: 300px;
      height: 200px;
      float: right;
      box-sizing: border-box;
  }